@model SettingAddVM

@{
    ViewData["Title"] = "Add";
}

<div class="container">
    <h1 class="mb-5">Create Setting</h1>
    <form method="post" asp-action="Add" enctype="multipart/form-data">
        <div class="product-info">
            <div class="product-name my-3">
                <input asp-for="Key" class="animated-input" type="text" placeholder="Key" />
            </div>
            <div class="product-name my-3">
                <input asp-for="Value" class="animated-input" type="text" placeholder="Value" />
            </div>
        </div>
        <div style="display:flex; justify-content:center; gap:10px">
            <button type="submit" class="btn btn-outline-success">Add</button>
            <a asp-action="Index" class="btn btn-outline-danger">Back</a>
        </div>
    </form>
</div>

@section AdminCss{
    <link rel="stylesheet" href="~/admin/css/add.css" />
}

@section AdminScript{
    <script src="~/admin/js/add.js"></script>
    <script src="~/admin/js/subcategoryFilter.js"></script>
}