@model TeamAddVM

@{
    ViewData["Title"] = "Add";
}

<div class="container">
    <h1 class="mb-5">Create Team</h1>
    <form method="post" asp-action="Add" enctype="multipart/form-data">
        <div class="file-input text-center">
            <label for="upload" class="file-label">
                <span class="file-icon"><i class="fas fa-cloud-upload-alt"></i></span>
                <span class="file-text">Choose a file</span>
            </label>
            <input asp-for="Image" id="upload" class="file-hidden " />
        </div>
        <div class="product-info">
            <div class="product-name my-3">
                <input asp-for="Name" class="animated-input" type="text" placeholder="Name" />
            </div>
            <div class="product-name my-3">
                <input asp-for="Position" class="animated-input" type="text" placeholder="Position" />
            </div>
            <div class="product-name my-3">
                <textarea asp-for="About" class="animated-input" type="text" placeholder="About"></textarea>
            </div>
        </div>
        <div style="display:flex; justify-content:center; gap:10px">
            <button type="submit" class="btn btn-outline-success">Add</button>
            <button asp-action="Index" class="btn btn-outline-danger">Back</button>
        </div>
    </form>
</div>

@section AdminCss{
    <link rel="stylesheet" href="~/admin/css/add.css" />
}

@section AdminScript{
    <script src="~/admin/js/add.js"></script>
    <script src="~/admin/js/subcategoryFilter.js"></script>
}