@model TeamDetailVM

<div class="container">
    <h1>Team Detail</h1>
    <div class="product-image d-flex gap-4 justify-content-center">

        <img src="~/images/team/@Model.Image" alt="Team Image" />

    </div>
    <div class="product-info">
        <div class="product-name">@Model.Name</div>
        <div class="product-name">@Model.Position</div>
        <div class="product-brand">Date: @Model.CreateDate</div>
        <div class="product-name">@Model.About</div>
    </div>
    <div style="display:flex; justify-content:right">
        <a asp-action="Index" class="btn btn-outline-danger">Back</a>
    </div>
</div>

@section AdminCss{
    <link rel="stylesheet" href="~/admin/css/detail.css" />
}

@section AdminScript{
    <script src="~/admin/js/detail.js"></script>
}