@model ServiceEditVM

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1 class="mb-5">Edit Service</h1>
    <form method="post" asp-action="Edit" enctype="multipart/form-data">
        <div class="product-info">  
            <div class="product-name my-3">
                <input asp-for="Title" class="animated-input" type="text" placeholder="Title" />
            </div>
            <div class="product-name my-3">
                <input asp-for="Text" class="animated-input" type="text" placeholder="Text" />
            </div>
        </div>
        <div style="display:flex; justify-content:center; gap:10px">
            <button type="submit" class="btn btn-outline-success">Edit</button>
            <button asp-action="Index" class="btn btn-outline-danger">Back</button>
        </div>
    </form>
</div>

@section AdminCss{
    <link rel="stylesheet" href="~/admin/css/add.css" />
}

@section AdminScript{
    <script src="~/admin/js/add.js"></script>
    <script src="~/admin/js/subcategoryFilter.js"></script>
}