<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from mironmahmud.com/greeny/assets/ltr/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Jun 2023 11:58:30 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type"
      content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="template" content="greeny" />
    <meta name="title" content="greeny - Ecommerce Food Store HTML Template" />
    <meta name="keywords"
          content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online" />
    <title>Index Home - Greeny</title>
    <link rel="icon" href="~/images/favicon.png" />
    <link rel="stylesheet" href="~/fonts/flaticon/flaticon.css" />
    <link rel="stylesheet" href="~/fonts/icofont/icofont.min.css" />
    <link rel="stylesheet" href="~/fonts/fontawesome/fontawesome.min.css" />
    <link rel="stylesheet" href="~/vendor/venobox/venobox.min.css" />
    <link rel="stylesheet" href="~/vendor/slickslider/slick.min.css" />
    <link rel="stylesheet" href="~/vendor/niceselect/nice-select.min.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @await RenderSectionAsync("css",required: false)
</head>
<body>
    @await Component.InvokeAsync("Header")
            @RenderBody()
    @await Component.InvokeAsync("Footer")
<script src="~/vendor/bootstrap/jquery-1.12.4.min.js"></script>
    <script src="~/vendor/bootstrap/popper.min.js"></script>
    <script src="~/vendor/bootstrap/bootstrap.min.js"></script>
<script src="~/vendor/countdown/countdown.min.js"></script>
<script src="~/vendor/niceselect/nice-select.min.js"></script>
<script src="~/vendor/slickslider/slick.min.js"></script>
<script src="~/vendor/venobox/venobox.min.js"></script>
<script src="~/js/nice-select.js"></script>
<script src="~/js/countdown.js"></script>
<script src="~/js/accordion.js"></script>
<script src="~/js/venobox.js"></script>
<script src="~/js/slick.js"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts",required: false)
  </body>
<!-- Mirrored from mironmahmud.com/greeny/assets/ltr/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Jun 2023 11:59:00 GMT -->
</html>
